<!-- Add form modal -->
<div id="store-add" class="modal fade" role="dialog" ng-controller="AddStoreController">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title center-align">Add a store</h4>
			</div>
			<div class="modal-body">

				<!-- Save Success message container -->
				<div class="alert alert-success" ng-if="saveSuccess">
					<strong>Info!</strong> Data Saved Successfully.
				</div>


				<!-- Save Error message container -->
				<div class="alert alert-danger" ng-if="saveError">
					<strong>Error!</strong>&nbsp;&nbsp;{{saveError}}
				</div>

				<!-- Store Add form Validations are performed using angular.-->
				<form role="form" name="storeForm" novalidate>
					<div class="form-group">

						<label for="store-name">Store</label> <input type="text" name="storeName" ng-model="newStore.storeName" ng-maxlength=100 class="form-control"
							id="store-name" required>
						<!-- Validation message is show when the field is dirty and invalid -->
						<div class="alert alert-info message-info" ng-show="storeForm.storeName.$dirty && !storeForm.storeName.$valid">
							<strong>Mandatory and can be of maximum 100 characters</strong>
						</div>
					</div>
					<div class="form-group">

						<label for="zipcode">Zipcode</label> <input type="number" name="zipCode" ng-model="newStore.zipCode" class="form-control" id="zipcode"
							min="100000" max="999999" required>
						<!-- Validation message is show when the field is dirty and invalid -->
						<div class="alert alert-info message-info" ng-show="storeForm.zipCode.$dirty && !storeForm.zipCode.$valid">
							<strong>Mandatory and should be of 6 characters</strong>
						</div>
					</div>
					<div class="form-group" ng-init="showLocationInfo=false">

						<label for="location">Location</label> <input type="text" name="storeLocation" ng-maxlength=100 ng-model="newStore.storeLocation"
							class="form-control" id="location" required>
						<!-- Validation message is show when the field is dirty and invalid -->
						<div class="alert alert-info message-info" ng-show="storeForm.storeLocation.$dirty && !storeForm.storeLocation.$valid">
							<strong>Mandatory and can be of maximum 100 characters</strong>
						</div>
					</div>
					<div class="form-group" ng-init="showDescriptionInfo=false">

						<label for="description">Description</label>
						<textarea class="form-control" ng-model="newStore.storeDescription" name="storeDescription" rows="5" id="description"></textarea>
						<!-- Validation message is show when the field is dirty and invalid -->
						<div class="alert alert-info message-info" ng-show="storeForm.storeDescription.$dirty && !storeForm.storeDescription.$valid">
							<strong>can be maximum of 1000 characters</strong>
						</div>
					</div>

					<button type="submit" class="btn btn-primary pull-right" ng-disabled="!storeForm.$valid" ng-click="saveStore()" id="save-btn">Save</button>
					<button type="button" class="btn btn-default" ng-click="resetForm()" id="close-btn" data-dismiss="modal">Close</button>
				</form>
			</div>
		</div>
	</div>
</div>
</div>
