<div class="panel panel-primary" ng-controller="SearchStoreController">
	<!-- Search Form -->
	<div class="panel-heading">
		<div class="row">
			<div class="col-lg-2">
				<button class="btn btn-default" data-toggle="modal" data-target="#store-add">
					<span class="glyphicon glyphicon-plus"></span>
					&nbsp;Add
				</button>
			</div>
			<div class="col-lg-8">

				<form ng-submit="searchStores()" novalidate name="searchForm">
					<input type="number" ng-model="zipCode" class="form-control search-input" placeholder="Enter Zipcode" required>
					<button class="btn btn-default" type="submit" ng-disabled="!searchForm.$valid">
						<span class="glyphicon glyphicon-search"></span>
						&nbsp;Search
					</button>
				</form>

			</div>
			<!-- Number of stores -->
			<div class="col-lg-2">
				<span class="number-stores" ng-if="stores && stores.length>0">Number of stores : {{stores.length}}</span>
			</div>
		</div>
	</div>
	<!-- Search Results -->
	<div class="panel-body" id="search-results">
		<!-- Search results are show in bootstrap table and for pagination angular-utils-pagination directive is used-->
		<table class="table table-hover" ng-if="stores && stores.length>0">
			<thead>
				<tr>
					<th>Store</th>
					<th>Location</th>
					<th>Zipcode</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr dir-paginate="store in stores | orderBy:store.zipCode | itemsPerPage:8">
					<td>{{store.storeName}}</td>
					<td>{{store.storeLocation}}</td>
					<td>{{store.zipCode}}</td>
					<td>{{store.storeDescription}}</td>
				</tr>

			</tbody>
		</table>

		<!-- Show Pagination -->
		<dir-pagination-controls max-size="8" direction-links="true" boundary-links="true"> </dir-pagination-controls>

		<!-- No Results Found -->
		<span class="center-align" ng-show="(!stores || !stores.length>0) && !searchError">No Stores Nearby</span>

		<!-- Error -->
		<div class="alert alert-danger search-results-message" id="searchError" ng-show="searchError">
			<strong>Error!</strong>&nbsp;&nbsp;{{searchError}}
		</div>

	</div>
</div>