/*Main Container Div*/
#main-container {
	position: relative;
	/* position: absolute; */
	top: 69px;
}
/*Search results div*/
#search-results {
	min-height: 300px;
}

.center-align {
	text-align: center;
	display: inherit;
}
/*Search input*/
.search-input {
	display: inline;
	width: 66%;
	text-align: center;
	margin-left: 100px;
}
/*Span showing number of stores*/
.number-stores {
	line-height: 33px;
}
/*Info message about field in store-add form*/
.message-info {
	margin-top: 13px;
}
/*Search result Error Message*/
.search-results-message {
	position: relative;
	top: 64px;
	left: 25%;
	width: 50%;
}
/*Application Title*/
.app-title {
	text-align: center;
	margin-bottom: 46px;
}